@model ChartsViewModel
<div class="row">
    <div class="col-8">
        <img height="64px" width="64px" src="~/images/happy.webp"/>
        <p>@Model.General.HappyEmotionCount</p>
        <div></div>
    </div>
    <div class="col-8">
        <img height="64px" width="64px" src="~/images/angry.webp" />
        <div>@Model.General.AngryEmotionCount</div>
    </div>
    <div class="col-8">
        <img height="64px" width="64px" src="~/images/neutral.webp" />
        <div>@Model.General.NeutralEmotionCount</div>
    </div>
    <div> @Model.SentimentOverTime.Emotions[0]</div>
</div>
<canvas id="canvas" width="400" height="400"></canvas>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" integrity="sha256-IvM9nJf/b5l2RoebiFno92E5ONttVyaEEsdemDC6iQA=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" integrity="sha256-arMsf+3JJK2LoTGqxfnuJPFTU4hAK57MtIPdFpiHXOU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <script>
        var jsonData1 = [];
        var jsonData2 = [];
        @foreach (var emotion in Model.SentimentOverTime.Emotions)
        {
            @:jsonData1.push(@emotion)
        }
        @foreach (var date in Model.SentimentOverTime.Dates)
        {
            @:jsonData2.push(@date)
        }
        var ctx = document.getElementById("canvas")
        var lineChartData = {
            labels: [5, 1, 3, 4],
            datasets: [{
                label: 'Positive1',
                borderColor: "MediumSeaGreen",
                backgroundColor: "MediumSeaGreen",
                fill: false,
                data: jsonData1,
                yAxisID: 'y-axis-1',
            }, 
            {
                label: 'Negative',
                borderColor: "Tomato",
                backgroundColor: "Tomato",
                fill: false,
                data: jsonData2,
                yAxisID: 'y-axis-2'
            }
            ]
        };

        window.myLine = Chart.Line(ctx, {
            data: lineChartData,
            options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                    display: true,
                    text: 'Sentiment over time'
                },
                scales: {
                    yAxes: [{
                        type: 'linear',
                        display: true,
                        position: 'left',
                        id: 'y-axis-1',
                    }, {
                        type: 'linear',
                        display: true,
                        position: 'right',
                        id: 'y-axis-2',

                        // grid line settings
                        gridLines: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                    }],
                }
            }
        });

    </script>
}