@model Feedback
@{
    ViewData["Title"] = "Add feedback";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <div class="container">
        <form method="post" asp-action="Create">
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Emotion" value=1 checked>
                    <label class="form-check-label" asp-for="Emotion">
                        <img height="64px" width="64px" src="~/images/angry.webp"></img>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Emotion" value=2 checked>
                    <label class="form-check-label" asp-for="Emotion">
                        <img height="64px" width="64px" src="~/images/happy.webp"></img>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Emotion" value=3 checked>
                    <label class="form-check-label" asp-for="Emotion">
                        <img height="64px" width="64px" src="~/images/neutral.webp"></img>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Category">Category</label>
                    <select asp-for="Category" class="form-select" aria-label="Default select example">
                        <option value="All" selected>All</option>
                        <option value="Bug">Bug</option>
                        <option value="Gameplay">Gameplay</option>
                        <option value="Others">Others</option>
                    </select>

                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Description">Feedback</label>
                    <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="mt-1 btn btn-primary">Submit</button>
        </form>
    </div>
</div>